*{
  font-family: 'Ubuntu', sans-serif;
  font-weight: lighter;
  font-size: 13px;
  color: #f5f5ef;
}
body{
  background-color: #333333;
  padding-top: 75px;
  padding-left: 8%;
  padding-right: 8%;
}
.attribute-group{
  margin-top: 5px;
}
.attributes{
  color: #999999;
  font-size: 17px;
}
.attribute-value{
  font-size: 17px;
  font-weight: bolder;
}
.category{
  color: #999999;
}
.category-heading{
  font-size: 35px;
}
.vert-attr{
  border-left-color: #999999;
  border-left-width: thin;
}
.thumbnail{
  border: 0;
  background-color: #4d4d4d;
  text-align: center;
  padding: 0 0 0 0;
}
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
