<div class="row">
  <div class="col-md-3">
    <img src="{{album?.img_url}}" class="img-responsive" alt="Responsive image">
  </div>
  <div class="col-md-9">
    <span class="category">ALBUM</span>
    <br>
    <span class="category-heading">{{album?.name}}</span>
    <br>
    <div class="attribute-group">
      <span class="attributes">ARTIST </span><span class="attribute-value">{{album?.artist_name}}</span>
    </div>

    <div class="attribute-group">
      <span class="attributes">RELEASE </span><span class="attribute-value">{{album?.release}}</span>
    </div>

    <div class="attribute-group">
      <span class="attributes">SONGS </span><span class="attribute-value">{{album?.song_count}}</span>
    </div>

    <div class="attribute-group">
      <span class="attributes">DURATION </span><span class="attribute-value">{{album?.duration}}</span>
    </div>

    <div class="attribute-group">
      <button type="button" class="btn btn-success btn-sm">$ {{album?.price}}<i class="glyphicon glyphicon-shopping-cart"></i></button>
    </div>
  </div>
</div>
